In [105]:
import numpy as np
import pandas as pd
import re
import nltk
import csv

In [106]:
train_data=pd.read_csv("train.csv")

In [107]:
train_data.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [108]:
train_data['label'].value_counts()

0    29720
1     2242
Name: label, dtype: int64

In [109]:
train_data['tweet'][1].split()

['@user',
 '@user',
 'thanks',
 'for',
 '#lyft',
 'credit',
 'i',
 "can't",
 'use',
 'cause',
 'they',
 "don't",
 'offer',
 'wheelchair',
 'vans',
 'in',
 'pdx.',
 '#disapointed',
 '#getthanked']

In [110]:
# train_tweet=train_data[['tweet']]
# train_tweet.head()

In [111]:
# train_tweet1=train_tweet['tweet'][1].split()

In [112]:
def remove_pattern(input_txt,pattern):
    r=re.findall(pattern,input_txt)
    for i in r:
        input_txt= re.sub(i,'',input_txt)
    return input_txt

In [113]:
train_data['tweet']=np.vectorize(remove_pattern)(train_data['tweet'],"@[\w]*")

In [114]:
train_data.head()

   id  label                                              tweet
0   1      0    when a father is dysfunctional and is so sel...
1   2      0    thanks for #lyft credit i can't use cause th...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [115]:
# train_tweet['tweet']=np.vectorize(remove_pattern)(train_tweet['tweet'],"(^a-zA-Z\#)")
# this wont remove the special characters

In [116]:
train_data['tweet'] = train_data['tweet'].str.replace("[^a-zA-Z#]", " ")
train_data.head()

   id  label                                              tweet
0   1      0    when a father is dysfunctional and is so sel...
1   2      0    thanks for #lyft credit i can t use cause th...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide  society now    #motivation

In [117]:
train_data['tweet']=train_data['tweet'].apply (lambda x: ' '.join(r for r in x.split() if len(r)>3))

In [118]:
train_data.head()

   id  label                                              tweet
0   1      0  when father dysfunctional selfish drags kids i...
1   2      0  thanks #lyft credit cause they offer wheelchai...
2   3      0                                bihday your majesty
3   4      0                         #model love take with time
4   5      0                     factsguide society #motivation

In [119]:
# train_tweet['tokenized_sents'] = train_tweet.apply(lambda row: nltk.word_tokenize(row['tweet']), axis=1)
# train_tweet['tokenized_tweet'] = train_tweet['tweet'].apply(lambda x: x.split())
tokenized_tweet= train_data['tweet'].apply(lambda x: x.split())

In [120]:
# train_tweet['sents_length'] = train_tweet.apply(lambda row: len(row['tokenized_tweet']), axis=1)
# train_tweet.head()

In [121]:
from nltk.stem.porter import *
stemmer = PorterStemmer()
tokenized_tweet = tokenized_tweet.apply(lambda x: [stemmer.stem(i) for i in x])  # stemming
tokenized_tweet.head()

0    [when, father, dysfunct, selfish, drag, kid, i...
1    [thank, #lyft, credit, caus, they, offer, whee...
2                              [bihday, your, majesti]
3                     [#model, love, take, with, time]
4                         [factsguid, societi, #motiv]
Name: tweet, dtype: object

In [122]:
for i in range(len(tokenized_tweet)):
    tokenized_tweet[i] = ' '.join(tokenized_tweet[i])

train_data['tweet'] = tokenized_tweet

In [123]:
train_data.head()

   id  label                                              tweet
0   1      0  when father dysfunct selfish drag kid into dys...
1   2      0  thank #lyft credit caus they offer wheelchair ...
2   3      0                                bihday your majesti
3   4      0                         #model love take with time
4   5      0                           factsguid societi #motiv

In [124]:
# import matplotlib.pyplot as plt
# import seaborn as sns

# all_words = ' '.join([text for text in train_data['tweet']])
# from wordcloud import WordCloud

# wordcloud = WordCloud(width=600, height=500, random_state=10, max_font_size=100).generate(all_words)

# plt.figure(figsize=(10, 7))
# plt.imshow(wordcloud, interpolation="bilinear")

In [125]:
# positive_words = ' '.join([text for text in train_data['tweet'][train_data['label']==0]])

# wordcloud = WordCloud(width=600, height=500, random_state=10, max_font_size=100).generate(positive_words)

# plt.figure(figsize=(10, 7))
# plt.imshow(wordcloud, interpolation="bilinear")

In [126]:
# negative_words = ' '.join([text for text in train_data['tweet'][train_data['label']==1]])

# wordcloud = WordCloud(width=600, height=500, random_state=10, max_font_size=100).generate(negative_words)

# plt.figure(figsize=(10, 7))
# plt.imshow(wordcloud, interpolation="bilinear")

In [127]:
# def hashtag(x):
#     hashtags=[]
#     for i in x:
#         r=re.findall(r'#(\w+)',i)
#         hashtags.append(r)
#     return hashtags

In [128]:
# hashtag_neutral=hashtag(train_data['tweet'][train_data['label']==0])
# hashtag_negative=hashtag(train_data['tweet'][train_data['label']==1])

In [129]:
# hashtag_neutral

In [130]:
# hashtag_negative

In [131]:
# hashtag_extract_neutral=sum(hashtag_neutral,[])
# hashtag_extract_neutral

In [132]:
# hashtag_extract_negative=sum(hashtag_negative,[])
# hashtag_extract_negative

In [133]:
# fd_neutral = nltk.FreqDist(hashtag_extract_neutral)
# fd_table_neutral = pd.DataFrame({'Hashtag': list(fd_neutral.keys()),
#                   'Count': list(fd_neutral.values())})

In [134]:
# fd_neutral_largest = fd_table_neutral.nlargest(columns="Count", n=10)
# plt.figure(figsize=(13, 7))
# ax = sns.barplot(data=fd_neutral_largest, x="Hashtag", y="Count")

In [135]:
# fd_negative = nltk.FreqDist(hashtag_extract_negative)
# fd_table_negative = pd.DataFrame({'Hashtag': list(fd_negative.keys()),
#                   'Count': list(fd_negative.values())})
# fd_negative_largest = fd_table_negative.nlargest(columns="Count", n=10)
# plt.figure(figsize=(13, 7))
# ax = sns.barplot(data=fd_negative_largest, x="Hashtag", y="Count")

In [136]:
from sklearn.feature_extraction.text import CountVectorizer

bow_vectorizer = CountVectorizer(max_df=0.90, min_df=2, max_features=1000, stop_words='english')
bow = bow_vectorizer.fit_transform(train_data['tweet'])

In [137]:
bow

<31962x1000 sparse matrix of type '<class 'numpy.int64'>'
	with 124813 stored elements in Compressed Sparse Row format>

In [167]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score

# splitting data into training and validation set
xtrain, xtest, ytrain, ytest = train_test_split(bow, train_data['label'], random_state=42, test_size=0.3)

lreg = LogisticRegression()
v=lreg.fit(xtrain, ytrain)  # training the model

prediction = lreg.predict_proba(xtest)  # predicting on the validation set
prediction_int = prediction[:,1] >= 0.3 # if prediction is greater than or equal to 0.3 than 1 else 0
prediction_int = prediction_int.astype(np.int)

f1_score(ytest, prediction_int)

0.5328892589508742

In [157]:
prediction

array([[0.99880864, 0.00119136],
       [0.98953951, 0.01046049],
       [0.98900641, 0.01099359],
       ...,
       [0.91103097, 0.08896903],
       [0.33752276, 0.66247724],
       [0.97886547, 0.02113453]])

In [158]:
prediction_int

array([0, 0, 0, ..., 0, 1, 0])

In [140]:
print(v.score(xtrain, ytrain))

0.954766906539132

In [141]:
print(v.score(xtest, ytest))

0.9456669100010429